//out: app.css
paper-toolbar, #middleBar, #topBar{
  height: 50px;
}

.nav-toolbar{
  background-color: #F0F0F0 !important;
  font-size: 14px !important;
  color: grey !important;
}

.padding-left{
  margin-left: 10px;
}
.padding-right{
  margin-right: 10px;
}
.padding-top{
  margin-top: 10px;
}
.padding-bottom{
  margin-bottom: 10px;
}
.tool-icon{
  margin: 7px;
  width: 23px;
  height:23px;
  color: #297CA6;
}

#logo{
  color: rgb(240, 240, 240);
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 2px;
  height: 50px;
  background-color: rgb(70, 144, 208);
  width: 100px;

  #large{
    font-size:20px;
    font-weight:400;
  }
}

.title{
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
}

.subheader{
  font-size: 10px;
  color: rgb(164, 207, 229);
  margin-top: -10px;
}
.subtext{
  color: rgb(180,180,180);
}
.temp-fab{
  position: absolute;
  right: 15px;
  bottom: 15px;
  width:45px;
  height:45px;
  border-radius: 30px;
  background-color:#64c15a;
  font-size: 25px;
  font-weight: 100;
}

input{
  border: none;
}
input:focus{
  outline:none;
}
