//out: fc-workout-log.css

#date-container{
  font-size: 14px;
  font-weight:500;
  letter-spacing: 3px;
  color:black;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  iron-icon:first-child{
    margin-right: 35px;
  }
  iron-icon:last-child{
    margin-left: 35px;
  }
}

#exercises-container{
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
